body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #afcea0;
    margin: auto;
}


header {
    background-color: #b72525;
    color: rgb(255, 255, 255);
    padding: 10px 0 0 0;
}

#button-container {
    margin: 0 0 0 0;
    justify-content: center;
    gap: 10px;
    background-color: #3d73a2;
}

main {
    margin: 10px auto;
}

#box {
    display: inline-grid;
    grid-template-columns: .25fr 1fr .25fr;
    align-items: center;
    justify-items: center;
    background-color: #343434;
    padding: 20px;
    border-radius: 10px;
}

#left-box, #right-box {
    vertical-align: center;
    justify-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #3b6d99;
    border-radius: .25em;
}


#muppet-image {
    width: 350px;
    height: 400px;
    object-fit: cover;
    border: 3px solid #636363;
    border-radius: 10px;
    background-color: #fff;
}